<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Graphing Calculator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css') }}">
    </head>
    <body>
        <h1>Graphing Calculator</h1>
        <div><img src="../static/images/deriv2_graph.png" alt="Second Derivative Graph"></div>
        <a href="/"><input type = "button" value = "Function"></a>
        <a href="/der"><input type = "button" value = "First Derivative"></a>
    </body>
</html>