<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="home.css">
</head>
    <body>
        <p>Input a form</p>
        <form action = "/graph" method = "POST">
        <p>Function <input type = "text" name = "Function" /></p>
        <p>Domain Value 1 <input type = "text" name = "dVal1" /></p>
        <p>Domain Value 2 <input type = "text" name = "dVal2" /></p>
        <p>Domain Value 3 <input type = "text" name = "dVal3" /></p>
        <p>Domain Value 4 <input type = "text" name = "dVal4" /></p>
        <p>FTC Value 1 <input type = "text" name = "ftcVal1" /></p>
        <p>FTC Value 2 <input type = "text" name = "ftcVal2" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </body>
</html>