<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Graphing Calculator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css') }}">
    </head>
    <body>
        <h1>Graphing Calculator</h1>
        <div><img src="../static/images/poi.png" alt="Derivative Graph"></div>
        <div id="header">
            <ul id="btn1">
                <li><a href="/der"><span>First Derivative</span></a></li>
            </ul>
            <ul id="btn2">
                <li><a href="/der2"><span>Second Derivative</span></a></li>
            </ul>
            <ul id="btn3">
                <li><a href="/rel"><span>Second Derivative</span></a></li>
            </ul>

        </div>
    </body>
</html>